@import "variables";

.loader {
    animation: loader-background 0.01s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    z-index: 100;
    position: fixed;
    text-align: center;
    padding-top: 200px;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,50);
}

.loader_animation {
    animation: loader 1.5s linear;
    position: relative;
    img {
      width: 50%;
    }
}

.animation-card {
    animation-name: card;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}

.animation-1 {
    animation-delay: .25s;
}

.animation-2 {
    animation-delay: 1s;
}

.animation-3 {
    animation-delay: 2s;
}

.card {
    position: relative;
    overflow: hidden;
    .btn {
        border: 0;
        position: absolute;
        text-align: center;
        padding-top: 25px;
        top: 0px;
        right: -70px;
        background: $tertiary-color;
        height: 100%;
        width: 59px;
        border-radius: 0 15px 15px 0;
        transition-duration: 0.5s;
    .fa-circle-check {
        color: white;
        transition-duration: 0.5s;
        }
    }
    &:hover {
        .style-4 {
            margin-right: 60px;
            }
        .btn {
            right: 0;
            }  
        }
    }

.fa-heart:hover:before {
      transition: all .1s ease-in-out;
      background-clip: text;
      font-weight: 900;
      background-image: $button-color;
      -webkit-text-fill-color: transparent;
    }